<div class="form-errors">
	{{ form_errors(form) }}
</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.basic_data'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-12">
				{{ form_row(form.entity) }}
			</div>

            <div class="col-12">
				{{ form_row(form.recordId) }}
			</div>

            <div class="col-12">
				{{ form_row(form.purchasePrice) }}
			</div>

            <div class="col-12">
				{{ form_row(form.sellingPrice) }}
			</div>

            <div class="col-12">
				{{ form_row(form.user) }}
			</div>

            <div class="col-12">
				{{ form_row(form.updatedAt) }}
			</div>

        </div>

    </div>

</div>
