<div class="form-errors">
	{{ form_errors(form) }}
</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.basic_data'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-6">
                {{ form_row(form.from) }}
            </div>

            <div class="col-6">
                {{ form_row(form.to) }}
            </div>

            <div class="col-4">
                {{ form_row(form.odpisy) }}
            </div>

            <div class="col-4">
                {{ form_row(form.odcitatelnePolozky) }}
            </div>

            <div class="col-4">
                {{ form_row(form.dary) }}
            </div>

            <div class="col-6">
                {{ form_row(form.slevaNaDaniFO) }}
            </div>

            <div class="col-6">
                {{ form_row(form.danoveZvyhodneniNaDeti) }}
            </div>

        </div>

    </div>

</div>