{% extends 'web/base.html.twig' %}

{% block title %}Upravit nabídku | {{ projectService.ciName }}{% endblock %}

{% block body_content %}
<div class="container my-4">
  <h1 class="h3 mb-3">Upravit nabídku k: {{ offer.quote.name }}</h1>

  {{ form_start(form) }}
    {{ form_row(form.price) }}
    {{ form_row(form.currency) }}
    {{ form_row(form.message) }}
    <div class="mt-3">
      <button class="btn btn-primary" type="submit">Uložit změny</button>
      <a class="btn btn-link" href="{{ path('app_web_quote_show', { id: offer.quote.id, _locale: app.request.locale }) }}">Zpět</a>
    </div>
  {{ form_end(form) }}
</div>
{% endblock %}
