<div class="form-errors">
	{{ form_errors(form) }}
</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.basic_data'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-12">
				{{ form_row(form.name) }}
			</div>

            <div class="col-12">
                {{ form_row(form.description) }}
            </div>

            <div class="col-12">
				{{ form_row(form.number) }}
			</div>

            <div class="col-12">
            {{ form_row(form.waiting) }}
        </div>

        </div>

    </div>

</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.contractor'|trans }}</h4>
	</div>

    <div class="card-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified mb-3" role="tablist">

            <li class="nav-item" role="presentation">
                <a class="nav-link{% if command.customer is null %}{% else %} active{% endif %}" data-bs-toggle="tab" href="#contractor-customer" role="tab" aria-selected="{% if command.customer is null %}false{% else %}true{% endif %}">Registrovaný zákazník</a>
            </li>

            <li class="nav-item" role="presentation">
                <a class="nav-link{% if command.customer is null %} active{% else %}{% endif %}" data-bs-toggle="tab" href="#contractor-no-name" role="tab" aria-selected="{% if command.customer is null %}true{% else %}false{% endif %}" tabindex="-1">Neregistrovaný zákazník</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content text-muted">

            <div class="tab-pane{% if command.customer is null %}{% else %} active show{% endif %}" id="contractor-customer" role="tabpanel">

                <div class="row">

                    <div class="col-12">
                        {{ form_row(form.customer) }}
                    </div>

                </div>

            </div>

            <div class="tab-pane{% if command.customer is null %} active show{% else %}{% endif %}" id="contractor-no-name" role="tabpanel">
                
                <div class="row">

                    <div class="col-12">
                        {{ form_row(form.person) }}
                    </div>

                    <div class="col-4">
                        {{ form_row(form.phone) }}
                    </div>

                    <div class="col-4">
                        {{ form_row(form.mobile) }}
                    </div>

                    <div class="col-4">
                        {{ form_row(form.email) }}
                    </div>

                </div>

            </div>

        </div>

        <div class="col-12">
            {{ form_row(form.deliveryAddress) }}
        </div>

    </div>

</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.settings_data'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-4">
                {{ form_row(form.source) }}
            </div>

            <div class="col-4">
                {{ form_row(form.priority) }}
            </div>

            <div class="col-4">
                {{ form_row(form.deadline) }}
            </div>

        </div>

    </div>

</div>

<div class="card">

    <div class="card-header align-items-center d-flex justify-content-between">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.images'|trans({}, 'command') }}</h4>
        {{ include('admin/inc/layout/view-grid-table.html.twig') }}
	</div>

    <div class="card-body">
      
        {% if images is defined and images is not empty %}

            <div id="grid-view" class="d-none">

                <div class="row">

                    {% for image in images %}

                        <div class="col-1">

                            <figure id="image-figure-row-{{ image.id }}" class="figure">
                                <a href="{{ image.filePath }}/{{ image.fileName }}.{{ image.fileType }}" title="{{ image.name }}" target="_blank">
                                    {% set fileType = image.filetype %}
                                    {% if fileType == '' %}
                                        ?
                                    {% endif %}
                                    {% if fileType == 'pdf' %}
                                        <i class="mdi mdi-file-pdf-box display-6"></i>
                                    {% endif %}
                                    {% if fileType == 'docx' %}
                                        <i class="mdi mdi-file-image display-6"></i>
                                    {% endif %}
                                    {% if fileType == 'xlsx' %}
                                        <i class="mdi mdi-file-excel display-6"></i>
                                    {% endif %}
                                </a>
                                <figcaption class="figure-caption">{{ image.name }}<br><small class="fst-italic">{{ image.description }}</small><br><small>{{ image.version }}</small></figcaption>
                            </figure>

                        </div>

                    {% endfor %}

                </div>

            </div>

            <div id="table-view" class="d-block">

                <div class="row">

                    <table id="sortable-table" class="table table-striped table-hover table-nowrap align-middle">

                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">{{ 'label.id'|trans({}, 'image')|lower }}</th>
                                <th scope="col"></th>
                                <th scope="col">{{ 'label.name'|trans({}, 'image')|lower }} / {{ 'label.description'|trans({}, 'image')|lower }}</th>
                                <th scope="col">{{ 'label.file_name'|trans({}, 'image')|lower }} / {{ 'label.file_path'|trans({}, 'image')|lower }}</th>
                                <th scope="col" class="text-center">{{ 'label.file_type'|trans({}, 'image')|lower }}</th>
                                <th scope="col" class="text-center">{{ 'label.file_size'|trans({}, 'image')|lower }} [b]</th>
                                <th scope="col" class="text-center">{{ 'label.width'|trans|lower }} x {{ 'label.height'|trans|lower }} [px]</th>
                                <th scope="col" class="text-center">{{ 'label.publication'|trans|lower }}</th>
                                <th scope="col" class="text-center">{{ 'label.actions'|trans|lower }}</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for image in images %}
                            <tr id="image-table-row-{{ image.id }}" data-id="{{ image.id }}">
                                <td class="text-center move"><i class="ri-drag-move-fill drag-handle"></i></td>
                                <td class="text-center">{{ image.id }}</td>
                                <td>
                                    <a href="{{ image.filePath }}/{{ image.fileName }}.{{ image.fileType }}" data-lightbox="{{ image.fileName }}" title="{{ image.name }}" data-title="{{ image.name }}">
                                        <img src="{{ image.filePath }}/{{ image.fileName }}.{{ image.fileType }}" class="img-fluid rounded" alt="{{ image.description }}" style="width: 3rem;">
                                    </a>
                                </td>
                                <td>{{ image.name }}<br><small class="fst-italic">{{ image.description }}</small><br><small>{{ image.version }}</small></td>
                                <td>{{ image.fileName }}<br><small class="fst-italic">{{ image.filePath }}</small></td>
                                <td class="text-center">{{ image.fileType }}</td>
                                <td class="text-center">{{ image.fileSize }}</td>
                                <td class="text-center">{{ image.width }} x {{ image.height }}</td>
                                <td class="text-center">
                                    {% set publication = image.publication %}
                                    {% if publication == '' %}
                                        {{ 'publication.select'|trans|lower }}
                                    {% endif %}
                                    {% if publication == 0 %}
                                        <span class="badge bg-danger">{{ 'publication.unpublish'|trans|lower }}</span>
                                    {% endif %}
                                    {% if publication == 1 %}
                                        <span class="badge bg-success">{{ 'publication.publish'|trans|lower }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="#" onclick="imageShow({{ image.id }}, event)" title="{{ 'action.show'|trans|lower }}"><i class="mdi mdi-eye"></i></a>
                                    <a href="#" onclick="imageEdit({{ image.id }}, event)" title="{{ 'action.edit'|trans|lower }}"><i class="mdi mdi-lead-pencil"></i></a>
                                    <a href="#" onclick="imageDelete({{ image.id }}, event)" title="{{ 'action.delete'|trans|lower }}"><i class="mdi mdi-delete text-danger"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>

            </div>

        {% endif %}

        <div class="row">
            
            <div class="col-12">
                <div class="dropzone"></div>
            </div>

        </div>

    </div>

</div>

<div class="card">

    <div class="card-header align-items-center d-flex justify-content-between">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.documents'|trans({}, 'customer') }}</h4>
        {{ include('admin/inc/layout/view-grid-table.html.twig') }}
	</div>

    <div class="card-body">
      
        {% if documents is defined and documents is not empty %}

            <div id="grid-view" class="d-none">

                <div class="row">

                    {% for document in documents %}

                        <div class="col-1">

                            <figure id="document-figure-row-{{ document.id }}" class="figure">
                                <a href="{{ document.filePath }}/{{ document.fileName }}.{{ document.fileType }}" title="{{ document.name }}" target="_blank">
                                    {% set fileType = document.filetype %}
                                    {% if fileType == '' %}
                                        ?
                                    {% endif %}
                                    {% if fileType == 'pdf' %}
                                        <i class="mdi mdi-file-pdf-box display-6"></i>
                                    {% endif %}
                                    {% if fileType == 'docx' %}
                                        <i class="mdi mdi-file-document display-6"></i>
                                    {% endif %}
                                    {% if fileType == 'xlsx' %}
                                        <i class="mdi mdi-file-excel display-6"></i>
                                    {% endif %}
                                </a>
                                <figcaption class="figure-caption">{{ document.name }}<br><small class="fst-italic">{{ document.description }}</small><br><small>{{ document.version }}</small></figcaption>
                            </figure>

                        </div>

                    {% endfor %}

                </div>

            </div>

            <div id="table-view" class="d-block">

                <div class="row">

                    <table id="sortable-table" class="table table-striped table-hover table-nowrap align-middle">

                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="text-center">{{ 'label.id'|trans({}, 'document')|lower }}</th>
                                <th scope="col"></th>
                                <th scope="col">{{ 'label.name'|trans({}, 'document')|lower }} / {{ 'label.description'|trans({}, 'document')|lower }}</th>
                                <th scope="col">{{ 'label.file_name'|trans({}, 'document')|lower }} / {{ 'label.file_path'|trans({}, 'document')|lower }}</th>
                                <th scope="col" class="text-center">{{ 'label.file_type'|trans({}, 'document')|lower }}</th>
                                <th scope="col" class="text-center">{{ 'label.file_size'|trans({}, 'document')|lower }} [b]</th>
                                <th scope="col" class="text-center">{{ 'label.publication'|trans|lower }}</th>
                                <th scope="col" class="text-center">{{ 'label.actions'|trans|lower }}</th>
                            </tr>
                        </thead>

                        <tbody>
                        {% for document in documents %}
                            <tr id="document-table-row-{{ document.id }}" data-id="{{ document.id }}">
                                <td class="text-center move"><i class="ri-drag-move-fill drag-handle"></i></td>
                                <td class="text-center">{{ document.id }}</td>
                                <td>
                                    <a href="{{ document.filePath }}/{{ document.fileName }}.{{ document.fileType }}" title="{{ document.name }}" target="_blank">
                                        {% set fileType = document.filetype %}
                                        {% if fileType == '' %}
                                            ?
                                        {% endif %}
                                        {% if fileType == 'pdf' %}
                                            <i class="mdi mdi-file-pdf-box display-6"></i>
                                        {% endif %}
                                        {% if fileType == 'docx' %}
                                            <i class="mdi mdi-file-document display-6"></i>
                                        {% endif %}
                                        {% if fileType == 'xlsx' %}
                                            <i class="mdi mdi-file-excel display-6"></i>
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ document.name }}<br><small class="fst-italic">{{ document.description }}</small><br><small>{{ document.version }}</small></td>
                                <td>{{ document.fileName }}<br><small class="fst-italic">{{ document.filePath }}</small></td>
                                <td class="text-center">{{ document.fileType }}</td>
                                <td class="text-center">{{ document.fileSize }}</td>
                                <td class="text-center">
                                    {% set publication = document.publication %}
                                    {% if publication == '' %}
                                        {{ 'publication.select'|trans|lower }}
                                    {% endif %}
                                    {% if publication == 0 %}
                                        <span class="badge bg-danger">{{ 'publication.unpublish'|trans|lower }}</span>
                                    {% endif %}
                                    {% if publication == 1 %}
                                        <span class="badge bg-success">{{ 'publication.publish'|trans|lower }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="#" onclick="documentShow({{ document.id }}, event)" title="{{ 'action.show'|trans|lower }}"><i class="mdi mdi-eye"></i></a>
                                    <a href="#" onclick="documentEdit({{ document.id }}, event)" title="{{ 'action.edit'|trans|lower }}"><i class="mdi mdi-lead-pencil"></i></a>
                                    <a href="#" onclick="documentDelete({{ document.id }}, event)" title="{{ 'action.delete'|trans|lower }}"><i class="mdi mdi-delete text-danger"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>

            </div>

        {% endif %}

        <div class="row">
            
            <div class="col-12">
                <div class="dropzone"></div>
            </div>

        </div>

    </div>

</div>

<div class="card">

    <div class="card-header align-items-center d-flex">
		<h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.publication'|trans }}</h4>
	</div>

    <div class="card-body">

        <div class="row">

            <div class="col-12">
                {{ form_row(form.manager) }}
            </div>

            <div class="col-12">
                {{ form_row(form.status) }}
            </div>

            <div class="col-12">
                {{ form_row(form.publication) }}
            </div>

        </div>

    </div>

</div>
