{% extends 'admin/base.html.twig' %}

{% block body_content %}

    {{ parent() }}

    <div class="row mb-4">

        <div class="col-lg-12">

            {{ form_start(form) }}

                {{ include('admin/testimonial/_form.html.twig') }}

                <div class="float-start">
                    <button class="btn btn-success">{{ 'action.update'|trans }}</button>
                    <a href="{{ path('app_admin_testimonial_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
                </div>

            {{ form_end(form) }}

            {{ include('admin/testimonial/_delete_form.html.twig') }}

        </div>

    </div>

{% endblock %}

{% block body_javascript %}

    {{ parent() }}

    {{ include('admin/inc/body-javascript/tinymce.html.twig') }}

{% endblock %}

{% block body_javascript_function %}

    {{ parent() }}

    var input = '#testimonial_description';
    {{ include('admin/inc/body-javascript-function/tinymce.html.twig') }}

{% endblock %}
