{% extends 'admin/base.html.twig' %}

{% block body_content %}

    {{ parent() }}
    
    <div class="card">

        <div class="card-body">

            <div class="table-responsive">

                <table class="table table-striped table-hover table-nowrap align-middle mb-0">

                    <tbody>
                        <tr>
                            <th>{{ 'label.id'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculation.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.number'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculationSettings.documentPrefix is defined and priceCalculationSettings.documentPrefix is not empty ? priceCalculationSettings.documentPrefix : 'CN' }}{{ priceCalculation.number }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.name'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculation.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.description'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculation.description|raw }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.total_price_without_vat'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculation.totalPriceWithoutVat }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.total_vat'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculation.totalVat }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.total_price_with_vat'|trans({}, 'price_calculation')|lower }}</th>
                            <td>{{ priceCalculation.totalPriceWithVat }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'label.status'|trans({}, 'price_calculation')|lower }}</th>
                            <td>
                                {% set status_mapping = {
                                    0: '<span class="badge text-white bg-info">' ~ "status.opened"|trans({}, "price_calculation")|lower ~ '</span>',
                                    1: '<span class="badge text-white bg-info">' ~ "status.closed"|trans({}, "price_calculation")|lower ~ '</span>',
                                    2: '<span class="badge text-white bg-success">' ~ "status.approved"|trans({}, "price_calculation")|lower ~ '</span>',
                                    3: '<span class="badge text-white bg-black">' ~ "status.not_approved"|trans({}, "price_calculation")|lower ~ '</span>',
                                } %}
                                {{ status_mapping[priceCalculation.status]|raw }}
                            </td>
                        </tr>
                        <tr>
                            <th>{{ 'label.publication'|trans|lower }}</th>
                            <td>
                                {% set publication = priceCalculation.publication %}
                                {% if publication == '' %}
                                {{ 'publication.select'|trans|lower }}
                                {% endif %}
                                {% if publication == 0 %}
                                <span class="badge bg-danger">{{ 'publication.unpublish'|trans|lower }}</span>
                                {% endif %}
                                {% if publication == 1 %}
                                <span class="badge bg-success">{{ 'publication.publish'|trans|lower }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <div class="row">

		{% if dateLogs %}

			<div class="col-12">

				<div class="card">

                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">{{ 'fieldset.history_of_modifications'|trans }}</h4>
                        <button class="btn btn-sm btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvoiceHistoryOfModifications" aria-expanded="false" aria-controls="collapseInvoiceHistoryOfModifications"><i class="mdi mdi-information-outline"></i></button>
                    </div>

					<div class="card-body collapse" id="collapseInvoiceHistoryOfModifications">

						<div class="table-responsive">

							<table class="table table-striped table-hover table-nowrap align-middle mb-0">

								<tbody>

									{% for dateLog in dateLogs %}

										<tr>

											{% set date = dateLog.updatedAt|date('Y-m-d H:i:s') %}

											{% if date == '1000-01-01 00:00:00' %}

												<th>{{ 'label.created_at'|trans|lower }}</th>
												<td>{{ priceCalculation.createdAt|date(app.request.attributes.get('user').userUserSettings and app.request.attributes.get('user').userUserSettings.dateTimeFormat ? app.request.attributes.get('user').userUserSettings.dateTimeFormat : 'Y-m-d H:i:s') }}</td>

											{% else %}

												<th>{{ 'label.updated_at'|trans|lower }}</th>
												<td>{{ date|date(app.request.attributes.get('user').userUserSettings and app.request.attributes.get('user').userUserSettings.dateTimeFormat ? app.request.attributes.get('user').userUserSettings.dateTimeFormat : 'Y-m-d H:i:s') }}</td>

											{% endif %}

											<td>{{ dateLog.user.userUserContact.firstname }}
												{{ dateLog.user.userUserContact.surname }}</td>

										</tr>

									{% endfor %}

								</tbody>

							</table>

						</div>

					</div>

				</div>

			</div>

		{% endif %}

	</div>
    
    <div class="d-flex justify-content-between">
        <div>
            <a href="{{ path('app_admin_price_calculation_edit', {'id': priceCalculation.id}) }}" title="{{ 'action.edit_price_calculation'|trans({}, 'price_calculation') }}" class="btn btn-success">{{ 'action.edit_price_calculation'|trans({}, 'price_calculation') }}</a>
            <a href="{{ path('app_admin_price_calculation_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-info">{{ 'action.back_to_list'|trans }}</a>
        </div>
        <div>
            {{ include('admin/price_calculation/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}
