{% extends 'admin/base.html.twig' %}

{% block head_stylesheet %}

    {{ parent() }}

    {{ include('admin/inc/head-stylesheet/dropzone.html.twig') }}

{% endblock %}

{% block body_content %}

    {{ parent() }}

    <div class="row mb-4">

        <div class="col-lg-12">

            {{ form_start(form) }}

            {{ include('admin/photogallery/_form.html.twig') }}

            <div class="float-start">
                <button class="btn btn-success">{{ 'action.save'|trans }}</button>
                <a href="{{ path('app_admin_photogallery_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
            </div>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

{% block body_javascript %}

    {{ parent() }}

    {{ include('admin/inc/body-javascript/slugify.html.twig') }}

    {{ include('admin/inc/body-javascript/dropzone.html.twig') }}

{% endblock %}

{% block body_javascript_function %}

    {{ parent() }}

    var inputSlugify = document.getElementById('photogallery_name');
    var outputSlugify = document.getElementById('photogallery_urlAlias');
    if (inputSlugify && outputSlugify) {
        {{ include('admin/inc/body-javascript-function/slugify.html.twig') }}
    } else {
        console.error('Alert name or URL alias elements not found');
    }

    var dropzoneUploadUrl = "{{ path('app_admin_photogallery_dropzone_upload') }}";
	var dropzoneDeleteUrl = "{{ path('app_admin_photogallery_dropzone_delete', {'id': 'FILE_ID'}) }}";
	{{ include('admin/inc/body-javascript-function/dropzone-image.html.twig') }}

{% endblock %}

{% block body_javascript_document_ready %}

    {{ parent() }}
    
    {{ include('admin/inc/body-javascript-document-ready/view-grid-table.html.twig') }}

{% endblock %}
