{% extends 'admin/base.html.twig' %}

{% block head_stylesheet %}

	{{ parent() }}

	{{ include('admin/inc/head-stylesheet/jquery-ui.html.twig') }}

	{{ include('admin/inc/head-stylesheet/select2.html.twig') }}

{% endblock %}

{% block head_css %}

	{{ parent() }}

	<style type="text/css">

		.suggestions {
			list-style-type: none;
			padding: 0;
			margin: 0;
			position: absolute; /* Aby seznam neovlivňoval layout stránky */
			background-color: #fff;
			border: 1px solid #ccc;
			z-index: 1000; /* Aby byl seznam vidět nad ostatními prvky */
		}

		.suggestions li {
			padding: 8px;
			cursor: pointer;
		}

		.suggestions li:hover {
			background-color: #eee;
		}

		.select2-selection,
        .select2-results__option {
            font-size: .825rem !important;
        }

		.ph {
			height: 74px; /* Nastaví výšku placeholderu podle výšky řádku */
			background-color: #f0f0f0; /* Šedé pozadí pro zřetelné zobrazení */
			border: 1px dashed #ccc; /* Ohraničení */
		}

	</style>

{% endblock %}

{% block body_content %}

	{{ parent() }}
	
    <h1 class="fs-2 d-flex justify-content-between">
		<span>{{ priceQuotationSettings.documentPrefix is defined and priceQuotationSettings.documentPrefix is not empty ? priceQuotationSettings.documentPrefix : 'CN' }}{{ priceQuotation.number }}</span>
		<span>{{ priceQuotation.customer.ciName }}</span>
	</h1>

    <div class="row mb-4">

        <div class="col-lg-12">

			{{ form_start(form) }}

				{{ include('admin/price_quotation/_form.html.twig') }}

				<div class="float-start">
					<button type="submit" class="btn btn-success" name="submit_update">{{ 'action.update'|trans }}</button>
					<button type="submit" class="btn btn-success" name="submit_update_and_back">{{ 'action.update_and_back'|trans }}</button>
					<a href="{{ path('app_admin_price_quotation_index') }}" title="{{ 'action.back_to_list'|trans }}" class="btn btn-secondary">{{ 'action.back_to_list'|trans }}</a>
				</div>

			{{ form_end(form) }}

			{{ include('admin/price_quotation/_delete_form.html.twig') }}

		</div>

    </div>

    <!-- Modals -->
    {{ include('admin/inc/modals/document-show.html.twig') }}
    {{ include('admin/inc/modals/document-edit.html.twig') }}

{% endblock %}

{% block body_javascript %}

	{{ parent() }}

	{{ include('admin/inc/body-javascript/jquery-ui.html.twig') }}

	{{ include('admin/inc/body-javascript/select2.html.twig') }}

	{{ include('admin/inc/body-javascript/tinymce.html.twig') }}

{% endblock %}

{% block body_javascript_function %}

	{{ parent() }}

	{{ include('admin/inc/body-javascript-function/price-quotation.html.twig') }}

	var input = '#price_quotation_description';
    {{ include('admin/inc/body-javascript-function/tinymce.html.twig') }}

{% endblock %}

{% block body_javascript_document_ready %}

	{{ parent() }}

	{{ include('admin/inc/body-javascript-document-ready/select2.html.twig') }}

	{{ include('admin/inc/body-javascript-document-ready/price-quotation.html.twig') }}

	var sortableElement = "price_quotation";
	var sortableUrl = "{{ path('app_admin_price_quotation_reorder', {'iid': 1}) }}";
    {{ include('admin/inc/body-javascript-document-ready/sortable.html.twig') }}

	{{ include('admin/inc/body-javascript-document-ready/view-grid-table.html.twig') }}

{% endblock %}
